@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    height: 50vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 37%, rgba(253, 96, 29, 1) 64%, rgba(0, 0, 0, 1) 100%);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#register {
    height: 650px;
    position: absolute;

}

#register img {
    top: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

.formulario {
    width: 400px;
    position: absolute;
    background: transparent;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px 60px;
    top: 385px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.formulario h1,
input,
label,
select,
button {
    display: block;
    width: 100%;
    margin: 5px 0;
    font-weight: bold;

}


.formulario h1 {
    margin-bottom: 2rem;
    font-family: 'Orbitron', sans-serif;
}

.formulario h1,
label {
    color: #ffffff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

}

.formulario input,
select {
    height: 40px;
    border: 2px solid #DFB01D;
    border-radius: 10px;
    padding: 0 8px;
}

.formulario button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff8c00;
    color: #fff;
    cursor: pointer;
}

.formulario a {
    color: #fff;
    text-decoration: none;
}

.formulario a:hover {
    color: #6d6d6d;
}

.formulario a:active {
    color: #000000;
}

.formulario button:hover {
    background-color: #fdbf08;
}

/*EXITO*/

.success {
    background-color: #4CAF50;
    /* Verde */
    color: white;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.success::before {
    content: '\2714';
    /*check */
    font-size: 20px;
    margin-right: 10px;
}

/*ERROR*/

.error {
    background-color: #D32F2F;
    /* Rojo */
    color: white;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.error {
    content: '\2716';
    /* X */
    font-size: 20px;
    margin-right: 10px;
}

input[type="checkbox"] {
    transform: scale(0.5);
}

#id_subscription th,
#id_subscription td {
    display: flex;
    align-items: center;
}

#id_subscription label {
    margin-bottom: 0;
    margin-right: 10px;
}

#id_subscription input {
    flex: 1;
    margin-bottom: 0;
}


@media only screen and (max-width: 600px) {
    #register {
        width: 100%;
        position: relative;
        height: auto;
        margin-bottom: 20px;
    }



    .formulario {
        width: 100%;
        max-width: none;
        border-radius: 0;
        padding: 20px;
    }
}